.string-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
}

.root {
  flex-grow: 1;
}

.edit-default {
  color: black;
}

.edit-good {
  color: blue;
}

.edit-change {
  color: red;
}
